<!-- <h1>Hello World {{title}}</h1> -->
<!-- ! WAY TO CALL COMPONENTS -->
<!-- <app-user></app-user> -->
<!-- * EVENTS - KEYPRESS , KEYUP , BLUR , MOUSEOVER , MOUSELEAVE -->
<!-- <input type="text" (keypress)="getFunctionData(box.value)" #box>/> -->
<!-- <input type="text" (keyup)="getFunctionData(box.value)" #box>/> -->
<!-- <input type="text" (blur)="getFunctionData(box.value)" #box>/> -->



<!-- ! PROFILE CARD(interpolation & Two way binding) -->
<!--
<div class="profile-card">
  <h2>Profile Card</h2>
  <p><strong>Name: </strong>{{name}}</p>
  <p><strong>Age: </strong>{{age}}</p>
  <p><strong>Description: </strong>{{description}}</p>

  <br> -->
<!-- <h3>Update Profile</h3> -->
<!-- *IMPTTT : ngModel main jo assign kiya hua wo same wohi variable hona chahiye jo interpolation ke liye use krrhe.. -->
<!-- <input type="text" name="username" [(ngModel)]="name" placeholder="Enter Name" />
  <input type="number" [(ngModel)]="age" placeholder="Enter Age" />
  <input type="text" [(ngModel)]="description" placeholder="Enter Description" />
</div> -->



<!-- !COUNTER(ngStyle & ngClass) -->

<!--
<div class="counter">
  <button (click)="increment()" ngClass="fBtn">+</button>
  <p>{{count}}</p>
  <button (click)="decrement()" ngClass="lBtn">&ndash;</button>



</div>
<p *ngIf="count > 0">Counter is Positive</p>
<p *ngIf="count < 0">Counter is Negative</p>
<p *ngIf="count ==  0">Counter is Zero</p> -->


<!-- ! Todo List -->
<!--
<div [ngStyle]="{
  'background-color': '#0e0e0e',
  'min-height': '100vh',
  'padding': '40px'
}">
  <div class="todo">
    <h1>Todo</h1>
    <input type="text" #todo />

    <button (click)="addTask(todo)"> Add </button>
    <ul>
      <li *ngFor="let item of list; let i = index">{{ item }} <span [ngStyle]="{'margin-left': '80px'}"><button
            (click)='deleteItem(i)'> Delete</button></span> </li>
    </ul>
  </div>
</div> -->

<!-- ! API  -->
<ul>
  <li *ngFor="let user of users">{{user.name}}</li>
</ul>
